@media (max-width: 575px) {
  .modal .img-form .cont {
    padding: 20px;
    width: calc(100% - 20px);
    margin-left: auto;
    margin-right: auto;
  }

  .close-menu {
    width: 44px;
    height: 44px;
    padding: 5px;
  }

  .menu {
    margin-top: 30px;
    width: 100%;
  }

  .header-mid nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .header-mid .soc.mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header-mid .soc.mob svg {
    fill: #ffcb22;
  }

  .menu-link {
    font-size: 18px;
    line-height: 25.2px;
    padding: 18px 30px;
  }

  .header-top .soc a:nth-of-type(3),
  .header-top .soc a:nth-of-type(4) {
    display: none;
  }

  .banner-home .h1 {
    font-size: 28px;
    line-height: 39.2px;
    margin-bottom: 15px;
    max-width: 50%;
  }

  .banner-home p {
    font-size: 15px;
    line-height: 27px;
    margin-bottom: 25px;
    max-width: 50%;
  }

  .banner-home .btns {
    gap: 20px;
    align-items: start;
  }

  .banner-home .btns a {
    width: 100%;
    text-align: center;
  }

  .banner-home .btns a:nth-of-type(1),
  .banner-home .btns a:nth-of-type(2) {
    line-height: 21px;
    font-size: 15px;
    padding: 18px 20px;
  }

  .swiper .swiper-pagination {
    margin-top: 25px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .banner-home {
    background-position: 85% center;
    padding-top: 134px;
    padding-bottom: 36px;
  }

  .banner-home::after {
    background: linear-gradient(
        277.63deg,
        rgba(32, 79, 117, 0) -33.6%,
        rgba(32, 79, 117, 0.765) 25.28%,
        rgba(32, 79, 117, 0.9) 84.85%
      ),
      linear-gradient(
        69.79deg,
        rgba(32, 79, 117, 0) 42.65%,
        rgba(32, 79, 117, 0.462257) 84.23%,
        rgba(32, 79, 117, 0.8) 96.25%
      );
  }

  section {
    margin-bottom: 50px;
  }

  .zag-btn .btn--white.mob {
    display: none;
  }

  h2 {
    font-size: 32px;
    line-height: 44.8px;
    margin-bottom: 40px;
  }

  .zag-btn {
    margin-bottom: 40px;
  }

  .preim .block {
    padding: 10px 20px 20px;
  }

  .preim .block img {
    position: unset;
    margin-bottom: 15px;
    max-width: 78px;
  }

  .preim .block p:nth-of-type(1) {
    font-size: 18px;
    line-height: 25.2px;
  }

  .preim .block p:nth-of-type(2) {
    font-size: 15px;
    line-height: 24px;
  }

  .tury {
    margin-top: -10px;
  }

  .cont-tury .block .info {
    padding: 20px;
  }

  .cont-tury .block p.name {
    font-size: 20px;
    line-height: 30.8px;
    margin-bottom: 20px;
  }

  .tury .btn-centr {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 20px;
  }

  .tury .btn-centr .btn--white.mob,
  .tury .btn-centr .btn-add {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .form h2 {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 15px;
  }

  .form .txt {
    font-size: 15px;
    line-height: 27px;
    margin-bottom: 30px;
  }

  .form form {
    gap: 20px;
  }

  .form .chekbox,
  .form button,
  .form input[type="name"],
  .form input[type="tel"] {
    width: 100%;
  }

  .form .block:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
  }

  .form .name,
  .form .prof {
    text-align: center;
  }

  .form-block::before {
    height: 279px;
  }

  .otz .swiper-slide {
    width: 320px;
  }

  .otz .btns-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 40px;
  }

  .otz .btns-block .btn--white {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .otz .btns-block .navigate {
    display: none;
  }

  .f-menu.mob {
    max-height: 340px;
  }

  footer .block .info .info-icon {
    width: 100%;
  }

  .footer-bot a,
  .footer-bot p:nth-of-type(1),
  .footer-bot p:nth-of-type(2),
  .footer-bot p:nth-of-type(3) {
    width: 100%;
    text-align: center;
  }

  .footer-bot a {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .footer-bot p:nth-of-type(2) {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }

  /* Адаптация для главной страницы - мобильные устройства */

  /* Общие исправления */
  html,
  body {
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
    position: relative;
  }

  .max {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    overflow: hidden;
  }

  section {
    width: 100%;
    overflow: hidden;
  }

  /* Адаптация хедера */

  /* Адаптация футера */
  footer {
    width: 100%;
    overflow: hidden;
  }

  .footer-mid {
    flex-direction: column;
    padding: 30px 0;
  }

  .footer-mid .block {
    width: 100%;
    margin-bottom: 20px;
  }

  .f-menu.pk {
    display: none;
  }

  .f-menu.mob {
    display: flex !important;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
    overflow: hidden;
    width: 100%;
  }

  .f-menu.mob a {
    font-size: 14px;
    padding: 5px 0;
    display: block;
  }

  .footer-mid .block .info {
    flex-direction: column;
  }

  .footer-mid .block .info .bl {
    width: 100%;
    margin-bottom: 15px;
  }

  .info-icon {
    padding: 10px 0;
  }

  .info-icon p {
    font-size: 14px;
  }

  .footer-bot {
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    gap: 8px;
  }

  .footer-bot p,
  .footer-bot a {
    font-size: 12px;
  }

  .soc {
    justify-content: center;
    margin: 15px 0;
  }
}

@media (max-width: 380px) {
  .header-top .soc {
    display: none;
  }

  .f-menu.mob {
    max-height: unset;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .modal .img-form .cont {
    padding-top: 40px;
  }

  .modal__cross {
    top: 20px;
    right: 20px;
  }

  .modal .img-form h3 {
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 10px;
  }
}
